.highlighted-textarea {
  position: relative;
  width: 100%;
  font-family: monospace;

  .textarea-wrapper {
    position: relative;
    
    .real-textarea { 
      color: transparent;
      position: relative;
      z-index: 1;
      width: 100%;
      resize: vertical;
      padding: 5px 10px;
      font-family: monospace;
      overflow: auto;
      line-height: 1.5;
      min-height: 150px;
      caret-color: black;

      &:focus {
        outline: none;
      }
    }

    .highlight-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: auto;
      height: 100%;
      overflow: hidden;
      padding: 5px 10px;
      white-space: pre-wrap;
      pointer-events: none;
      z-index: 2;  
      font-family: monospace; 
      font-size: 14px;
      line-height: 1.5;
      color: rgba(0, 0, 0, 0.85);

      .logic-operator {
        color: red;
      }

      .key {
        color: blue;
      }

      .value {
        color: purple;
      }
    }
  }
}
